body {
  margin: 0;
}

/* IosevkaTerm-Regular license: https://github.com/be5invis/Iosevka/blob/main/LICENSE.md */
@font-face{
  font-family: Iosefka;
  src: local('./IosevkaTerm-Regular.woff2'), url('./IosevkaTerm-Regular.woff2') format('woff2');
}

p {
  margin: 0;
  font-family: 'Iosefka', monospace; 
}

#canvas {
  white-space: pre;
  overflow: hidden;
}

/* Credit modified solarized themes: http://thomasf.github.io/solarized-css/ */
@media (prefers-color-scheme: dark) {
  mark {
    background: #ff0;
    color: #000;
  }
  html {
    background-color: #073642;
    color: #839496;
  }
  body {
    background-color: #002b36;
  }
  code {
    background-color: #073642;
  }
  a {
    color: #b58900;
  }
  a:visited {
    color: #cb4b16;
  }
  a:hover {
    color: #cb4b16;
  }
  h1 {
    color: #d33682;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #859900;
  }
  pre {
    background-color: #002b36;
    color: #839496;
    border: 1pt solid #586e75;
    padding: 1em;
    box-shadow: 5pt 5pt 8pt #073642;
  }
  pre code {
    background-color: #002b36;
  }
}

@media (prefers-color-scheme: light) {
  mark {
    background: #ff0;
    color: #000;
  }
  html {
    background-color: #eee8d5;
    color: #657b83;
  }
  body {
    background-color: #fdf6e3;
  }
  code {
    background-color: #eee8d5;
  }
  a {
    color: #b58900;
  }
  a:visited {
    color: #cb4b16;
  }
  a:hover {
    color: #cb4b16;
  }
  h1 {
    color: #d33682;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #859900;
  }
  pre {
    background-color: #fdf6e3;
    color: #657b83;
    border: 1pt solid #93a1a1;
    padding: 1em;
    box-shadow: 5pt 5pt 8pt #eee8d5;
  }
  pre code {
    background-color: #fdf6e3;
  }
}